{% load static%}
<div class="barraFlotante">
    <nav>
      <ul>
        <li><a href="{% url 'sae' %}"> <img src="{% static 'css/Images/SAE.png' %}" alt="Aspel SAE"/></a></li>
        <li><a href="{% url 'coi' %}"> <img src="{% static 'css/Images/COI.png' %}" alt="Aspel COI"/></a></li>
        <li><a href="{% url 'noi' %}"> <img src="{% static 'css/Images/NOI.png' %}" alt="Aspel NOI"/></a></li>
        <li><a href="{% url 'caja' %}"> <img src="{% static 'css/Images/CAJA.png' %}" alt="Aspel CAJA"/></a></li>
        <li><a href="{% url 'adm' %}"> <img src="{% static 'css/Images/ADM.png' %}" alt="Aspel ADM"/></a></li>
        <li><a href="{% url 'prod' %}"> <img src="{% static 'css/Images/PROD.png' %}" alt="Aspel PROD"/></a></li>
        <li><a href="{% url 'facture' %}"> <img src="{% static 'css/Images/FACT.png' %}" alt="Aspel FACTURE"/></a></li>
        <li><a href="{% url 'banco' %}l"> <img src="{% static 'css/Images/BANCO.png' %}" alt="Aspel BANCO"/></a></li>
      </ul>
    </nav>
  </div>