{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
    <div class="ctrlSoporte">
        <h3 class="title">Control tickets generales</h3>
        <button class="btn btn-secondary newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalNvoTicket">Nuevo</button>
        <div class="modal-soporte">
          <div class="modal" id="modalNvoTicket" aria-hidden="true" aria-labelledby="modalNvoTicketLabel" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="modalNvoTicketLabel">Añadir nuevo <strong>Equipo</strong></h2>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-------------modal para crear cliente--------------------------->
                <!---agregar el id a todas las etiquetas e input -------->
                <!-----name= es el nombre del campo de la base de datos-->
                <div class="modal-body">
                  <div class="content-form">
                    <form method="POST" action="{%url 'create' %}">
                      {% csrf_token %} <!---verifica que es intencional el formulario y no un ataque malisioso-->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Fecha del tecket" type="date" name="fecha_ticket" required="required" readonly="readonly"/>
                        <label class="form-label" for="fecha_ticket">Fecha</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Nombre del cliente" type="text" name="nombre" maxlength="80" required="required" readonly="readonly"/>
                        <label class="form-label" for="nombre">Nombre del cliente</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Contrato" type="text" name="contrato" maxlength="80" required="required" readonly="readonly"/>
                        <label class="form-label" for="nombre">Contrato</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="periodo" type="text" name="periodo" maxlength="80" required="required" readonly="readonly"/>
                        <label class="form-label" for="nombre">Periodo</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="periodo" type="text" name="periodo" maxlength="80" required="required" readonly="readonly"/>
                        <label class="form-label" for="nombre">Inicio</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="periodo" type="text" name="periodo" maxlength="80" required="required" readonly="readonly"/>
                        <label class="form-label" for="nombre">Término</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="RFC" type="text" name="rfc" maxlength="13" required="required" readonly="readonly"/>
                        <label class="form-label" for="rfc">RFC   </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="servicio" type="text" name="servicio" maxlength="13" required="required" readonly="readonly"/>
                        <label class="form-label" for="servicio">Servicio</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="contacto" type="text" name="nom_contacto" maxlength="50" required="required" readonly="readonly"/>
                        <label class="form-label" for="contacto">Contacto</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="asunto del ticket" type="text" name="mensaje" maxlength="600" required="required" readonly="readonly"/>
                        <label class="form-label" for="mensaje">Asunto</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="archivo del ticket" type="file" name="archivo" required="required" readonly="readonly"/>
                        <label class="form-label" for="archivo">Archivo</label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-body__buttons"> 
                    <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button class="btn btn-success" data-bs-target="#modalTicket" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modalTicket" aria-hidden="true" aria-labelledby="modalTicket" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="modalTicket">Nuevo Ticket </h3>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Ticket creado!</div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-target="#modalTicket" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-soporte">
          <div class="modal" id="modalModificarTicket" aria-hidden="true" aria-labelledby="modalDetalleTicketLabel" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="modalModificarTicketLabel">Modificar <strong>Ticket</strong></h2>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="content-form">
                    <form action="">
                      <div class="form-floating mb-3"> 
                        <label for="tipo">Tipo de equipo:</label>
                        <select class="form-select" id="opcionesSelect">
                          <option value="no"> </option>
                          <option value="ao">All in One </option>
                          <option value="pc">Escritorio </option>
                          <option value="lap">Laptop </option>
                        </select>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Marca del equipo" type="text" name="marca" maxlength="50" required="required"/>
                        <label class="form-label" for="marca">Marca</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Memoria RAM" type="text" name="ram" maxlength="10" required="required"/>
                        <label class="form-label" for="ram">RAM  </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Procesador" type="text" name="procesador" maxlength="50" required="required"/>
                        <label class="form-label" for="procesador">Procesador   </label>
                      </div>
                      <div class="form-floating mb-3">
                        <label for="tipo">Tipo de Disco Duro:</label>
                        <select class="form-select" id="opcionesSelect">
                          <option value="no"> </option>
                          <option value="hdd">HDD</option>
                          <option value="ssd">SSD</option>
                        </select>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Uso del disco duro" type="text" name="uso" maxlength="15"/>
                        <label class="form-label" for="uso">Uso del disco duro</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="ip local" type="text" name="ip" maxlength="15" required="required"/>
                        <label class="form-label" for="ip">Ip local </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Direccion anydesk" type="text" name="anydesk" maxlength="12" required="required"/>
                        <label class="form-label" for="anydesk">Direccion Anydesk</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Nombre de usuario" type="text" name="nom_usuario" maxlength="50" required="required"/>
                        <label class="form-label" for="nom_usuario">Nombre de  usuario del equipo </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Antivirus" type="text" name="nom_antivirus" maxlength="20" required="required"/>
                        <label class="form-label" for="nom_antivirus">Nombre del antivirus </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Vigencia del Antivirus" type="month" name="vig_antivirus" maxlength="20" required="required"/>
                        <label class="form-label" for="vig_antivirus">Vigencia del antivirus</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Paqueteria Office" type="text" name="office" maxlength="30" required="required"/>
                        <label class="form-label" for="office">Paqueteria Office </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Vigencia Office" type="month" name="vig_office" maxlength="20" required="required"/>
                        <label class="form-label" for="vig_office">Vigencia de la Paqueteria Office</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600"/>
                        <label class="form-label" for="descripcion">Descripcion</label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-body__buttons"> 
                    <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button class="btn btn-success" data-bs-target="#modalModificar" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modalModificar" aria-hidden="true" aria-labelledby="modalModificar" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="modalModificar">Modificar </h3>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Ticket modificado!</div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-target="#modalModificar" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ctrlSoporte__tabs">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="usuario-tab-pane" role="tabpanel" aria-labelledby="usuario-tab" tabindex="0"> 
              <div class="ctrlSoporte__tabs__item">                           
                <div class="ctrlSoporte__tabs__item__body">
                  <div class="table-wrapper content__ctrlSoporte__tabs__item__body__table">
                    <table class="display" id="myTable" cellspacing="0" width="100%">
                      <thead> 
                        <tr>                 
                          <th>id</th>
                          <th>Cliente</th>
                          <th>Contrato</th>
                          <th>Servicio</th>
                          <th>Detalles </th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody> 
                          {% for soporte in soportes %} <!---bucle de cliente en cliente---->
                          <tr id="fila_id_{{soporte.id_soporte}}"><!---id para la fila de la tabla-->
                            <!---se accede a los datos almacenados en la base de datos-->
                            <td>{{ soporte.id_soporte}} </td>
                            <td>{{ soporte.cliente}} </td>
                            <td>{{ soporte.asunto}} </td>
                            <td>{{ soporte.status}} </td>
                            <td>
                            <td>
                              <a href="{% url 'editar_soporte' soporte.id_soporte %}" data-bs-toggle="modal"
                              data-id="{{ soporte.id_soporte }}" data-bs-target="#modalModTick" title="Modificar">
                            <button class="btn btn-link newBtnElement" type="button">Ver mas ...</button></a>
                          </td>
                          <td> <a href="{% url 'editar_soporte' soporte.id_soporte %}" data-bs-toggle="modal"
                              data-id="{{ soporte.id_soporte }}" data-bs-target="#modalDetalleTicket" title="Modificar"> <i
                                class="bi bi-pencil-square"></i></a>
                            <a href="{% url 'eliminar_soporte' soporte.id_soporte %}" data-bs-toggle="modal"
                              data-bs-target="#modalEliminar" data-id="{{ soporte.id_soporte }}" title="Eliminar">
                            <button class="btn btn-link newBtnElement btn-danger" type="submit" data-toggle="modal" data-target="#modalEliminar">Eliminar</button>
                              <i class="bi bi-trash3-fill"></i></a></td>
                        </tr>
                          {% endfor %}
                            <div class="modal-soporte">
                              <div class="modal" id="modalDetalleTicket" aria-hidden="true" aria-labelledby="modalDetalleTicketLabel" tabindex="-1">
                                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h2 class="modal-title" id="modalDetalleTicketLabel">Informacion del <strong>Ticket</strong></h2>
                                      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="content-form">
                                        <form action="#" id="editarSoporteForm" method="POST">
                                          {% csrf_token %}
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="Fecha del tecket" type="date"  id="fecha_ticket" name="fecha_ticket" required="required" readonly="readonly"/>
                                            <label class="form-label" for="fecha_ticket">Fecha</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="Nombre del cliente" type="text" id="nombre" name="nombre" maxlength="80" required="required" readonly="readonly"/>
                                            <label class="form-label" for="nombre">Nombre del cliente</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="Contrato" type="text" id="contrato" name="contrato" maxlength="80" required="required" readonly="readonly"/>
                                            <label class="form-label" for="nombre">Contrato</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="periodo" type="text" id="periodo" name="periodo" maxlength="80" required="required" readonly="readonly"/>
                                            <label class="form-label" for="nombre">Periodo</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="Inicio" type="text" id="Inicio" name="Inicio" maxlength="80" required="required" readonly="readonly"/>
                                            <label class="form-label" for="nombre">Inicio</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="termino" type="text"  id="termino" name="termino" maxlength="80" required="required" readonly="readonly"/>
                                            <label class="form-label" for="nombre">Término</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="RFC" type="text" id="rfc" name="rfc" maxlength="13" required="required" readonly="readonly"/>
                                            <label class="form-label" for="rfc">RFC   </label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="servicio" type="text" id="servicio" name="servicio" maxlength="13" required="required" readonly="readonly"/>
                                            <label class="form-label" for="servicio">Servicio</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="contacto" type="text" id="nom_contacto" name="nom_contacto" maxlength="50" required="required" readonly="readonly"/>
                                            <label class="form-label" for="contacto">Contacto</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="asunto del ticket" type="text" id="mensaje" name="mensaje" maxlength="600" required="required" readonly="readonly"/>
                                            <label class="form-label" for="mensaje">Asunto</label>
                                          </div>
                                          <div class="form-floating mb-3">
                                            <input class="form-control form-control-lg" placeholder="archivo del ticket" type="file" id="archivo" name="archivo" required="required" readonly="readonly"/>
                                            <label class="form-label" for="archivo">Archivo</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="modal-body__buttons"> 
                                        <button class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal fade" id="modalEliminar" aria-hidden="true" aria-labelledby="modalEliminarLabel"
                            tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="modalEliminarModalLabel">Eliminar</h5>
                                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">¿Estas seguro que desdeas eliminar?</div>
                                <div class="modal-footer">
                                  <button class="btn btn-primary" data-bs-target="#modalEliminar" data-bs-toggle="modal"
                                    data-bs-dismiss="modal">Cancelar </button>
                                  <button id="confirmarEliminar" class="btn btn-secondary" type="button"
                                    data-bs-dismiss="modal">Aceptar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          </tbody>
                          <script>
                            $(document).ready(function () {
                              $('#myTable').DataTable();
                            });
                            $('a[data-bs-toggle="modal"]').on('click', function () {
                              var targetModalId = $(this).data('bs-target');
                              var id_cliente = $(this).data('id');
                    
                              if (targetModalId === '#modalEliminar') {
                                $('#confirmarEliminar').data('id', id_cliente);
                              } else {
                                $.ajax({
                                  url: '{% url "editar_soporte" id_soporte=0 %}'.replace('0', id_soporte),
                                  type: 'GET',
                                  data: {
                                    'id_soporte': id_soporte
                                  },
                                  success: function (data) {
                                    $('#editarsoporteForm').attr('action', '{% url "editar_soporte" id_soporte=0 %}'.replace('0',
                                      id_soporte));
                                    $('#nombre2').val(data.nombre);
                                  },
                                  error: function (xhr, status, error) {
                                    console.error('Error al cargar la información del registro:', error);
                                    alert('Error al cargar la información del registro.');
                                  }
                                });
                              }
                            });
                    
                            $('#confirmarEliminar').on('click', function () {
                              var id_cliente = $(this).data('id');
                    
                              if (id_cliente !== undefined) {
                                $.ajax({
                                  url: '{% url "eliminar_soporte" id_soporte=0 %}'.replace('0', id_soporte),
                                  type: 'POST',
                                  dataType: 'json',
                                  data: {
                                    'id_soporte': id_soporte
                                  },
                                  success: function (response) {
                                    console.log('Respuesta del servidor:', response);
                                    alert('Registro eliminado correctamente');
                                    // Cerrar el modal después de la eliminación
                                    $('#modalEliminar').modal('hide');
                                    // Eliminar la fila correspondiente de la tabla
                                    var table = $('#myTable').DataTable();
                                    table.row('#fila_id_' + id_soporte).remove().draw();
                                  },
                                  error: function (xhr, status, error) {
                                    console.error('Error al eliminar el registro:', error);
                                    alert('Error al eliminar el registro.');
                                  }
                                });
                              } else {
                                console.error('ID de soporte no definido al intentar eliminar el registro.');
                                alert('Error al eliminar el registro: ID no definido.');
                              }
                            });
                          </script>
                        </table>
                      </div>
                    <button class="btn btn-exit" onclick="salir()">Salir</button>
                    <script src="{% static 'css/js/salir.js' %}"></script>
                    </div>
                    </div>
                    </div>
                    
                    {% if messages %}
                    <div class="row">
                      {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}" role="alert">
                        <p>{{ message }}</p>
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                    </div>
                    <script src="{% static 'css/js/inicio.js' %}"></script>
                    {% endblock %}
                    