{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
    <div class="equiposCliente">  
      <h2 class="title">Equipos</h2>
      <div class="acciones">
        <button class="btn btn-exit" onclick="regresar()" id="salir">Regresar</button><a href="equipo-nuevo.html"> 
          <button class="btn btn-nuevo" type="submit">Nuevo </button></a>
      </div>
      <div class="content__equipoClientes__tabs">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="usuario-tab-pane" role="tabpanel" aria-labelledby="usuario-tab" tabindex="0"> 
            <div class="content__equipoClientes__tabs__item__body">
              <div class="table-wrapper content__equipoClientes__tabs__item__body__table">
                <table class="display" id="myTable" cellspacing="0" width="100%">
                  <thead> 
                    <tr>                 
                      <th>Id</th>
                      <th>Equipo</th>
                      <th>Usuario</th>
                      <th>Detalles</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr> 
                      <td>01</td>
                      <td>Hp</td>
                      <td>Josue Martinez</td>
                      <td><a href="detalle-equipo.html">ver más... </a></td>
                      <td><a class="edit" href="#editProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a><a class="delete" href="#deleteProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                    </tr>
                    <tr> 
                      <td>02</td>
                      <td>Lenovo</td>
                      <td>Josue Martinez</td>
                      <td> <a href="detalle-equipo.html">ver más... </a></td>
                      <td><a class="edit" href="#editProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a><a class="delete" href="#deleteProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'css/js/regresar.js' %}"> </script>
    <script>
      $(document).ready( function () {
      $('#myTable').DataTable();
      } );
    </script>
    {% endblock %}
       
        