{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
    <div class="inicio_cliente"> 
      <div class="inicio_cliente__box">
        <div class="inicio_cliente__box__item"><a href="{% url 'contratos_cliente' %}">Contratos<img src="{% static 'css/Images/Icons/contratos.svg' %}" alt=""/></a></div>
        <div class="inicio_cliente__box__item"> <a href="{% url 'pagos_cliente' %}">Pagos<img src="{% static 'css/Images/Icons/pagos.svg' %}" alt=""/></a></div>
        <div class="inicio_cliente__box__item"><a href="{% url 'tickets_cliente' %}">Tickets<img src="{% static 'css/Images/Icons/tickets.svg' %}" alt=""/></a></div>
        <div class="inicio_cliente__box__item"><a href="{% url 'equipo_cliente' %}">Equipos<img src="{% static 'css/Images/Icons/equipos.svg' %}" alt=""/></a></div>
      </div>
    </div>
    <div class="inicioAdmin"> 
      <div class="inicio"> 
        <h3>Sistema Web </h3>
        <h2>JMC Soluciones</h2>
      </div>
    </div>
    {% endblock %}