{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="menu-top"> <a class="menu-top__link" href="https://jmcsoluciones.com/privacidad/">Aviso de Privacidad</a><a class="menu-top__link" href="https://jmcsoluciones.com/webmail" id="ocultar">Webmail </a><a class="menu-top__link" href="https://store.jmcsoluciones.com/" id="ocultar">Tienda</a><a class="menu-top__link" href="https://jmcsoluciones.com/cpanel" id="ocultar">Cpanel</a><a class="menu-top__link" href="{% url 'login' %}">Login <img src="{% static 'css/imagenes/login.svg' %}" alt="icono de login" id="login"/></a></div>
      <nav class="menu"> 
        <section class="menu__container"><a href="{% url 'index'%}"> <img class="menu__logo" src="{% static 'css/imagenes/logo.png' %}" alt="Logo de la empresa" id="logo"/></a>
          <ul class="menu__links"> 
            <li class="menu__item"> <a class="menu__link" href="{% url 'index' %}">Inicio</a></li>
            <li class="menu__item"> <a class="menu__link" href="{% url 'empresa' %}">Empresa</a></li>
            <li class="menu__item"> <a class="menu__link" href="{% url 'sWeb' %}">Soluciones Web </a></li>
            <li class="menu__item"> <a class="menu__link" href="{% url 'menuAspel' %}">Aspel</a></li>
            <li class="menu__item"> <a class="menu__link" href="{% url 'mantenimiento' %}">Mantenimiento</a></li>
          </ul>
          <div class="menu__hamburger"> <img class="menu__img" src="{%static 'css/imagenes/menu.svg' %}" alt="icono de menu" id="menu"/></div>
        </section>
      </nav>
    </header>
    <h2>Registro de Usuario</h2>
    <form method="post" action="{% url 'register_user' %}">
        
        <label for="username">Nombre de Usuario:</label>
        <input type="text" name="username" required>
        
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required>
        
        <button type="submit">Registrar</button>
    </form>
    {% endblock %}